@font-face {
  font-family: 'League-Spartan-Bold';
  src: url('../app/fonts/league-spartan/League-Spartan-Bold.ttf.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
body {
  background-image: url("../img/bg/bg-lines.png");
  background-repeat: repeat-y;
  background-position: center;
  background-size: initial;
  font-family: sans-serif;
}
.container {
  width: 1224px;
  margin: 0 auto;
}
.relative {
  position: relative;
  z-index: 100;
}
.navigation__wrapper {
  display: flex;
  height: 128px;
  align-items: center;
}
.nav-logo-wrapper {
  margin-right: 190px;
}
.navigation {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'League-Spartan-Bold', sans-serif;
}
.navigation__item {
  margin-right: 40px;
}
.navigation__item:last-child {
  margin-right: 0;
}
.navigation__link {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 9px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 5.58px;
}
header {
  position: relative;
}
.site-desc {
  position: absolute;
  right: -40px;
  bottom: 650px;
}
@media (max-width: 1400px) {
  .site-desc {
    right: 48px;
    top: 95px;
  }
  .site-desc .site-desc__content {
    color: #fff;
  }
}
.site-desc__content {
  color: rgba(97, 97, 97, 0.6);
  font-family: 'League-Spartan-Bold', sans-serif;
  font-size: 9px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5.4px;
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(-90deg) translate(-130%, 0);
  transform-origin: left top;
}
.slide-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-bottom: 95px;
}
#headerSlider.owl-carousel .owl-stage-outer {
  overflow: visible;
}
.slide-item {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.slide-item__desc {
  width: 500px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.slide-item__heading {
  color: #000;
  font-size: 62px;
  line-height: 65px;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  margin-bottom: 14px;
}
.slide-item__heading span {
  color: #5da8ef;
  font-family: 'League-Spartan-Bold', sans-serif;
  font-size: 9px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 5.4px;
  display: block;
  margin-bottom: 20px;
}
.slide-item__text {
  width: 390px;
  color: rgba(97, 97, 97, 0.6);
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
}
.slide-item__img {
  width: 1016px;
  height: 572px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: -16px 25px 65px rgba(11, 22, 17, 0.2);
}
.slide-item__img--bg-1 {
  background-image: url("../img/img/img-header.jpg");
}
.slide-controls {
  position: absolute;
  width: 81px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
  bottom: 0;
}
.slide-controls__number {
  font-family: 'League-Spartan-Bold', sans-serif;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 4px;
  color: #ebebeb;
  margin-top: 4px;
}
.slide-controls__number-active {
  color: #5da8ef;
}
.slide-controls__number-total {
  color: #262626;
}
.header-social-wrapper {
  position: absolute;
  width: 20px;
  right: -55px;
  bottom: -80px;
}
@media (max-width: 1400px) {
  .header-social-wrapper {
    right: 30px;
    bottom: 30px;
  }
}
.social {
  display: flex;
  justify-content: center;
}
.social--vertical {
  flex-direction: column;
  width: 20px;
  align-items: center;
  margin-bottom: 80px;
}
.social__item {
  margin: 0 15px;
}
.social--vertical .social__item {
  margin-top: 35px;
  margin-left: 0;
  margin-right: 0;
}
.quote {
  margin-top: 190px;
}
.quote-wrapper {
  width: 610px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.quote-wrapper::after {
  content: '';
  width: 2px;
  height: 100px;
  background-color: #5da8ef;
  position: absolute;
  bottom: -58px;
  left: 50%;
  transform: translate(-50%, 100%);
}
.quote__text {
  color: #333333;
  font-family: 'Playfair Display', serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0.26px;
  margin-bottom: 25px;
}
.quote__author {
  font-family: 'League-Spartan-Bold', sans-serif;
  color: rgba(97, 97, 97, 0.6);
  font-size: 9px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5.4px;
}
.club-desc {
  padding-top: 220px;
}
.club-desc--wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}
.club-desc__video {
  position: absolute;
  right: 0;
  top: 43px;
  z-index: 1;
}
.club-desc__video-control {
  width: 68px;
  height: 68px;
  background-color: #5da8ef;
  box-shadow: -2px -2px 35px rgba(0, 0, 0, 0.13);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.club-desc__video-control img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-35%, -50%);
}
.club-desc__text {
  margin-top: 55px;
  margin-left: 115px;
  width: 340px;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  font-family: 'Poppins', sans-serif;
  color: rgba(97, 97, 97, 0.6);
  letter-spacing: 0.35px;
  margin-bottom: 45px;
}
.club-desc__link {
  margin-left: 115px;
}
.read-more-link,
a.read-more-link {
  color: #333333;
  font-size: 9px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  font-family: 'League-Spartan-Bold', sans-serif;
  letter-spacing: 5.4px;
  text-decoration: none;
  position: relative;
  padding-bottom: 10px;
  display: inline-block;
}
.read-more-link::after,
a.read-more-link::after {
  content: "";
  height: 2px;
  background-color: #5da8ef;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.shop {
  padding-top: 190px;
  position: relative;
}
.shop::after {
  position: absolute;
  content: '';
  top: -330px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 984px;
  z-index: -1;
  background-image: url(../img/bg/bg-water.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.shop__title {
  font-family: 'Playfair Display', serif;
  color: #333333;
  font-size: 42px;
  line-height: 46px;
  letter-spacing: 0.42px;
  text-align: center;
}
.shop__subtitle {
  display: block;
  font-family: 'League-Spartan-Bold', sans-serif;
  font-size: 9px;
  text-transform: uppercase;
  color: #5da8ef;
  letter-spacing: 5.4px;
}
.shop-slider {
  margin-top: 50px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
}
.shop-slider-item {
  width: 350px;
  height: 435px;
  position: relative;
}
.shop-slider-item__img {
  width: 250px;
  height: 320px;
  background-color: #ececec;
  position: absolute;
  left: 0;
  bottom: 0;
}
.shop-slider-item__image {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.shop-slider-desc {
  width: 200px;
  position: absolute;
  top: 196px;
  left: 216px;
}
.shop-slider__cat {
  color: #7a7a7a;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2.4px;
}
.shop-slider__title {
  color: #333333;
  font-family: 'Playfair Display', serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.26px;
}
.shop-slider-buy {
  margin-top: 38px;
  margin-left: 55px;
}
.shop-slider-buy__price {
  color: #ce60a8;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -0.1px;
}
.shop-slider-buy__link {
  color: #333333;
  font-family: 'League-Spartan-Bold', sans-serif;
  font-size: 9px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5.4px;
}
.shop-link-wrapper {
  display: flex;
  justify-content: center;
}
.article {
  display: flex;
  margin-top: 170px;
  margin-bottom: 120px;
}
.article__desc {
  width: 462px;
  padding: 80px 50px 0 70px;
}
.article--odd .article__desc {
  flex: 0 0 515px;
  padding: 80px 105px 0 75px;
}
.article__title {
  color: #333333;
  font-family: 'Playfair Display', serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 66px;
  letter-spacing: 0.42px;
  position: relative;
  margin-bottom: 45px;
}
.article__title::before {
  content: attr(data-number);
  color: #f9f9f9;
  font-family: 'League-Spartan-Bold', sans-serif;
  letter-spacing: 13px;
  line-height: 66px;
  font-weight: 700;
  font-size: 130px;
  position: absolute;
  left: 0;
  top: -27px;
  z-index: -1;
}
.article__title::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 23px;
  height: 2px;
  background-color: #5da8ef;
}
.article__text {
  margin-bottom: 60px;
  width: 340px;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  font-family: 'Poppins', sans-serif;
  color: rgba(97, 97, 97, 0.6);
  letter-spacing: 0.35px;
}
.article__preview {
  flex: 0 0 762px;
  position: relative;
}
.article--odd .article__preview {
  flex: 0 0 490px;
}
.article__preview-desc {
  width: 10px;
  height: 10px;
  position: absolute;
  right: -30px;
  top: 0;
}
@media (max-width: 1400px) {
  .article--even .article__preview-desc {
    right: 30px;
    top: 30px;
  }
  .article--even .article__preview-desc .article__preview-desc-content {
    color: #fff;
  }
}
.article--odd .article__preview-desc {
  left: -30px;
  right: auto;
}
.article__preview-desc-content {
  color: rgba(11, 12, 17, 0.2);
  font-family: 'League-Spartan-Bold', sans-serif;
  font-size: 9px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5.4px;
  left: 0;
  top: 0;
  transform: rotate(-90deg) translate(-1100%, 0);
  transform-origin: left top;
}
.article--odd {
  flex-direction: row-reverse;
}
.subscribe {
  width: 590px;
  padding-top: 160px;
  padding-bottom: 75px;
  position: relative;
  margin: 0 auto;
  text-align: center;
}
.subscribe::before {
  position: absolute;
  content: '';
  left: 50%;
  top: 0;
  width: 2px;
  height: 100px;
  background-color: #5da8ef;
  transform: translateX(-50%);
  display: block;
}
.title {
  color: #333333;
  font-family: 'Playfair Display', serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 66px;
  letter-spacing: 0.42px;
  margin-bottom: 20px;
}
.title-desc {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  font-family: 'Poppins', sans-serif;
  color: rgba(97, 97, 97, 0.6);
  letter-spacing: 0.35px;
}
.subscribe-wrapper {
  position: relative;
}
.subscribe-wrapper::after {
  position: absolute;
  content: '';
  top: -405px;
  bottom: auto;
  left: 0;
  right: 0;
  width: 100%;
  height: 1335px;
  z-index: -1;
  background-image: url(../img/bg/bg-surfer.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.subscribe-form {
  display: flex;
}
.subscribe__input {
  font-size: 9px;
  font-weight: 700;
  line-height: 24px;
  font-family: 'League-Spartan-Bold', sans-serif;
  color: rgba(51, 51, 51, 0.9);
  letter-spacing: 5.4px;
  text-transform: uppercase;
  width: 540px;
  height: 50px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.03);
  background-color: #f5f5f5;
  padding: 0 30px;
  border: 1px solid rgba(97, 97, 97, 0);
  transition: 0.2s ease-in;
}
.subscribe__input:active,
.subscribe__input:focus {
  outline: none;
  border: 1px solid rgba(97, 97, 97, 0.15);
}
.subscribe__submit {
  height: 50px;
  width: 50px;
  background-color: #5da8ef;
  background-image: url(../img/controls/subscribe-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: initial;
  text-indent: -1000px;
  border: 0px none;
  cursor: pointer;
  transition: 0.2s ease-in;
}
.subscribe__submit:hover,
.subscribe__submit:focus {
  outline: none;
  background-color: #74b4f1;
}
.subscribe__submit:active {
  outline: none;
  background-color: #2f8fea;
}
.camp {
  min-height: 475px;
  position: relative;
  margin-top: 75px;
}
.camp__img {
  width: 50%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
}
.camp__desc {
  width: 50%;
  padding: 105px 0 0 48px;
}
.camp__label {
  color: rgba(11, 12, 17, 0.27);
  font-family: 'League-Spartan-Bold', sans-serif;
  font-size: 9px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5.58px;
}
.camp__address {
  margin: 60px 0 60px 48px;
  color: #333333;
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0.32px;
}
.footer {
  padding: 100px 0;
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-logo-wrapper {
  margin-bottom: 35px;
}
